.description {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.salaryRange {
  font-size: var(--14px) !important;
  font-weight: 600;
  margin: 10px 0 8px !important;
  letter-spacing: 2px !important;
}

.jobRequirement {
  margin-top: 10px;
}

.viewMore {
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
  top: -5px;
}
.infoContainer > h3 {
  font-size: var(--13px);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
}
.infoContainer > h1 {
  font-size: var(--20px);
  margin: 0;
  padding: 0;
}

.infoContainer > h2 {
  font-size: var(--14px);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
